.hwid-field-group {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif !important;
}
/*.hwid-dark one of the class defined, for this put a red color as bg*/
.hwid-field-group.hwid-dark {
	background: yellow;
	color: #000;
}

/*.hwid-field-group.hwid-light {
	background: #eee;
	color: #333;
}

.hwid-field-group.hwid-red {
	background: #fff;
	color: #f00;
}*/

/*demonstrating if it works*/